---
interface Props {
    title: string;
    date: string;
    description: string;
}

const { title, date, description } = Astro.props;

let href: string = `/blog/${title.toLowerCase()}`;

---

<div class="container">
    <div class="title"><a href={href} class="title-a">{title}</a></div>
    <div class="description">{description}</div>
    <div class="date">{date}</div>
</div>

<style>

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.container {
    border: solid;
    border-width: 2px 0 2px 0;
    margin: 1em;
    height: 7em;
}

.title {
    font-size: 2.5em;
}

.description {
    color: rgba(225, 225, 225, 0.5);
    padding-left: 0.5em;
}

.date {
    text-align: right;
    padding-right: 0.5em;
}

.title, .description, .date {
    margin: 0.2em;
}

</style>
